matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
    - eval "${MATRIX_EVAL}"

language: cpp
compiler: g++
dist: trusty

script:
    - make
    - ./cp-tools

after_sucess:
    - echo "Success"

after_failure:
    - echo "Failure"
